.board-info{
    width: '100%';
    border-radius: 0 !important;
}

.board-info{
    flex-grow: 1;
}

.board-info-heading{
    display: inline;
}

.export-button{
    text-align: right !important;
    flex-grow: 1;
}

.export-icon{
    color: rgb(52, 231, 97)
}

.popper{
    border: 1px solid;
    padding: 1vh;
    background-color: white;
}
.safety-result-info{
    margin-left: 0.5vw;
}
.safety-graph{
    padding-top:2vh;
    margin-top: 1vh;
}